@charset "UTF-8";
.topo{
	height: 150px;
	background: #1E90FF;
/* 	margin-bottom: 100px; */
	text-align: center;
}
.abaixo{
	margin-bottom: 10px;
}
.desce {
	margin-top: 120px
}
.naDireita{
	text-align: right;
}

#rodape {
	background: #1E90FF;
	width:100%;
	height:30px;
	line-height: 30px;
	position: fixed;
	bottom: 0;
}
#miolo {
	
} 
#rodape p {
	color: #FFF;		
	text-align: center;
}